.body {
    z-index: 0;
}
.background-grid1 {
    width: 100%;
    height: 1500px;
    background-image: url("asset/img/background-img02_dep2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.navbar-custom {
    background-color: #ffffff;
    z-index: 3!important;
}
.container {
    width: 1000px;
}
.postlist {
    width: 1000px;
    height: 1200px;
    background-color: #FFFFFF;
    z-index: 3;
    position: relative;
    left: 50%;
    margin-left: -500px;
    top: 100px;
    z-index: 0;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.post-menus {
	height: 60px;
	width: 1000px;
	margin-top: -40px;
}
.post-menus>.nav>.nav-item:hover {
}
.post-menus>.nav>.nav-active {
	border-bottom: 5px solid #DFDFDF!important;
	border-left: 5px solid #DFDFDF!important;
	border-right: 5px solid #DFDFDF!important;
}
/*
.list-group {
    margin-top: 6px;
}
.choose-list {
    color:;
}
.list-group-item {
    height: 40px;
}
.icon-setting {
    position: relative;
    top: -2px;
    left: 8px;
    width: 0;
    font-size: 15px!important;
}
.voted > .icon-setting {
    font-size: 17px!important;
    color: black;
    position: relative;
    left: -17px;
}
.voted > .up-score {
    color: black;
    position: relative;
    left: 10px;
}
.voted > .badge-setting {
    position: relative;
    top: -1px;
    left: 5px;
}
.school-info {
	position: absolute;
	top: -25px;
	left: 20px;
}
.school-info>p {
	font-size: 15px;
}
.school-info>img {
	position: relative;
	top: -3px;
	left: 3px;
}
*/
.menu-list {
	border-bottom: 1px solid #DFDFDF;
	margin-top: 5px;
}
.menu {
	line-height: 40px;
}
.menu01 {
	position: relative;
	left: 10px;
}
.menu02 {
	position: relative;
	left: 390px;
}
.menu03 {
	position: relative;
	left: 765px;
}
.menu04 {
	position: relative;
	left: 780px;
}
.post-grid {
	margin-top: -30px;
}
.post-grid>p {
	line-height: 50px;
	padding: 8px;
	border-bottom: #DFDFDF;
}
.post {
	position: relative;
}
.post-number {
	position: absolute;
	left: 5px;
	text-align: center;
}
.post-name {
	position: absolute;
	left: 50px;
}
.post-name:hover {
	text-decoration: underline!important;
	cursor: pointer;
}
.post-upload-date {
	position: absolute;
	left: 830px;
}
.post-like {
	position: absolute;
	left: 936px;
}
.btn-set01 {
	width: 110px;
	position: absolute;
	bottom: 45px;
	left: 890px;
}
.icon-set02 {
	font-size: 16px!important;
	position: relative;
	top: 2px;
	left: 8px;
}
.badge-voted {
	position: relative;
	top: -2px;
	left: 7px;
}